<nav class="navbar">
  <div class="container d-flex justify-content-between">
    <a href="/">
      GeoBikes <i class="fa-solid fa-bicycle"></i>
    </a>

    <div class="col-6 d-flex justify-content-end align-items-center">
      {{#unless isAuthenticated}}
        <a class="btn btn-md btn-outline-light" href="/auth/google">Sign up</a>
      {{/unless}}
    </div>
  </div>
</nav>
